body {
    padding: 10px;
}

#header {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
}

.active {
    background-color: #143D90;
    color:#FFFFFF;
}

.text-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}